body {
    font-family: arial;
    display: inline-block;
}
h2 {
    color: blue;
    margin: 2px 125px -25px 30px;
}
h5 {
    color: white;
    font-size: 1.5em;
}
section {
    background-color: blue;
    width: 50em;
    height: 25em;
}
.main {
    text-align: left;
    padding: 4em;
    margin: 0px 0px -30px 0px;
}
span {
    margin: 0px 0px 0px 20px;
}
.column {
    float: left;
    width: 17em;
    padding: 5px;
    margin: 40px 5px 5px 5px;
    border-color: lightgray;
    border-style: solid;
}
.row::after {
    display: table;
    clear: both;
}
ul {
    list-style-type: none;
    float: left;
    width: 5em;
    padding: 0em;
    margin: 40px 80px 0px 40px;
    color: lightgray;
}
