ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    display: inline;
}
p {
    background-color:blueviolet
    padding: 10 px
}
h2 {
    text-align: right;
    position: realtive;
    top: 100px;
    left: 100px;
}
body {
    font-family: Arial;
    font-size: 14px;
    line-height: 1.5;
    color: #24292e;
    background-color: #fff;
}
div{
    width: 100%;
}
.row {
    display: flex;
}
.column {
    flex: 33%;
    padding: 5px;
}
