.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-family: 'Questrial', sans-serif; 
}
.products, .show {
    justify-content: space-evenly;
    background-color: darkgrey;
    text-align: center;
    padding: 4%;
    margin: 1%;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
h3 {
margin: 2%;
padding:2%
}
header, footer {
    padding-left: 3%;
}
h2 {
    margin-left: 5%;
}
.show {
    flex-wrap: wrap;
}
.button {
    border-radius: 2%;
}

