.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}
.products {
    justify-content: space-evenly;
    background-color: darkgrey;
    text-align: center;
    padding: 4%;
    margin: 1%;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
h3 {
margin: 2%;
}
header {
    align-content: center;
    display: flex;
    justify-content: center;
}
h2 {
    margin-left: 5%;
}
